<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Help page</title>
</head>
<body>
	{{> header}}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ad doloremque vero totam aspernatur, dolores ipsa dolor voluptatem cumque et, sint quaerat ullam placeat? Unde.
	</p>
	{{> footer}}
</body>
</html>